flows (1).json
[{"id":"6a0012c00718aef0","type":"tab","label":"DATN","disabled":false,"info":"","env":[]},{"id":"6189bb7ed1ef9d7a","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"XANH1","diff":true,"name":"read s7-1200","x":150,"y":200,"wires":[["fd9090c9ef13f2ca"]]},{"id":"6668df3dc1de0d6b","type":"ui_led","z":"6a0012c00718aef0","order":2,"group":"b069be749ce2177e","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"vang1","x":330,"y":260,"wires":[]},{"id":"f03e06bf11066c5d","type":"s7 out","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","variable":"START","name":"","x":420,"y":80,"wires":[]},{"id":"bcb6c3e6e1f897f0","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"CANH BAO DEN CHAY","diff":true,"name":"","x":1180,"y":240,"wires":[["75b1065509224aba","73dcecd1a1eceb6b","71dc84f36ddd9cf7"]]},{"id":"9f0dd1f70bfbc409","type":"ui_led","z":"6a0012c00718aef0","order":1,"group":"367d85206951a8b6","width":2,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"xanh2","x":710,"y":200,"wires":[]},{"id":"b880d52bfcb15d92","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"CANH BAO DEN SANG CUNG LUC","diff":true,"name":"","x":1220,"y":500,"wires":[["228d09c972ebddb8","67b031625274f165","38112d53b85fe86c"]]},{"id":"5156529da7d3fe68","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"CANH BAO MO TU","diff":true,"name":"","x":1170,"y":740,"wires":[["5f69e687712e4bf3","e550629679dbb501","d49078870831029a"]]},{"id":"c56e3d898abc8602","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"VANG1","diff":true,"name":"read s7-1200","x":150,"y":260,"wires":[["6668df3dc1de0d6b"]]},{"id":"1d26b0cc7141d5e3","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"DO1","diff":true,"name":"read s7-1200","x":150,"y":320,"wires":[["f7640b264d217782"]]},{"id":"32f35c4d57f45c0a","type":"ui_led","z":"6a0012c00718aef0","order":5,"group":"b069be749ce2177e","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"xanhbo1","x":340,"y":380,"wires":[]},{"id":"15c4e49e69f1d74b","type":"ui_led","z":"6a0012c00718aef0","order":3,"group":"367d85206951a8b6","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"do2","x":710,"y":320,"wires":[]},{"id":"bc8cfa4ec7d76236","type":"ui_led","z":"6a0012c00718aef0","order":2,"group":"367d85206951a8b6","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#ffff00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"vang2","x":710,"y":260,"wires":[]},{"id":"ca2ba60544cad311","type":"ui_led","z":"6a0012c00718aef0","order":5,"group":"367d85206951a8b6","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"xanhbo2","x":720,"y":380,"wires":[]},{"id":"a4044f242282df96","type":"ui_led","z":"6a0012c00718aef0","order":6,"group":"367d85206951a8b6","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"dobo2","x":710,"y":440,"wires":[]},{"id":"9a77fbf11c7e4006","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"XANHBO1","diff":true,"name":"read s7-1200","x":150,"y":380,"wires":[["32f35c4d57f45c0a"]]},{"id":"829b811a3b0cfeac","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"VANG2","diff":true,"name":"read s7-1200","x":530,"y":260,"wires":[["bc8cfa4ec7d76236"]]},{"id":"58483ccd5b4e5c3a","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"DO2","diff":true,"name":"read s7-1200","x":530,"y":320,"wires":[["15c4e49e69f1d74b"]]},{"id":"940915f696f00860","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"XANH2","diff":true,"name":"read s7-1200","x":530,"y":200,"wires":[["9f0dd1f70bfbc409"]]},{"id":"d02c86c4f5a0b642","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"DOBO1","diff":true,"name":"read s7-1200","x":150,"y":440,"wires":[["3cef49bd6d77243b"]]},{"id":"f7ee29bbfa73929b","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"XANHBO2","diff":true,"name":"read s7-1200","x":530,"y":380,"wires":[["ca2ba60544cad311"]]},{"id":"88b0b9783f10f4cd","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"DOBO2","diff":true,"name":"read s7-1200","x":530,"y":440,"wires":[["a4044f242282df96"]]},{"id":"60d5770a9eb20b27","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"HIEN THI TIME NGU_GIO","diff":true,"name":"","x":170,"y":620,"wires":[["87acae81db9b2daa"]]},{"id":"8a2a05802ca9ca68","type":"s7 out","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","variable":"CAI DAT TIME NGU_GIO","name":"","x":810,"y":620,"wires":[]},{"id":"d79e19f2785a9409","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"HIEN THI TIME NGU_PHUT","diff":true,"name":"","x":180,"y":680,"wires":[["1f0a95c089162997"]]},{"id":"2594b12a20ad4701","type":"s7 out","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","variable":"CAI DAT TIME NGU_PHUT","name":"","x":820,"y":680,"wires":[]},{"id":"3caf1842fc8e3ab0","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"HIEN THI TIME DK_GIO","diff":true,"name":"","x":170,"y":880,"wires":[["8961bfc144206b28"]]},{"id":"f4ea76294fdd2132","type":"s7 out","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","variable":"CAI DAT TIME DK_GIO","name":"","x":810,"y":880,"wires":[]},{"id":"31348ef427d2209e","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"HIEN THI TIME DK_PHUT","diff":true,"name":"","x":170,"y":940,"wires":[["5b62445ce1cab95c"]]},{"id":"5036b4c6db3ac9fb","type":"s7 out","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","variable":"CAI DAT TIME DK_PHUT","name":"","x":810,"y":940,"wires":[]},{"id":"d138857dbf838cdc","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"HIEN THI TIME BTH_GIO","diff":true,"name":"","x":150,"y":1160,"wires":[["6407c03321da9ca4"]]},{"id":"3fb1babf778adc31","type":"s7 out","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","variable":"CAI DAT TIME BTH_GIO","name":"","x":810,"y":1160,"wires":[]},{"id":"0dc488f86c931644","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"HIEN THI TIME BTH_PHUT","diff":true,"name":"","x":160,"y":1220,"wires":[["c04e5f1da062b0cc"]]},{"id":"f0e0a70bc2965d7f","type":"s7 out","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","variable":"CAI DAT TIME BTH_PHUT","name":"","x":820,"y":1220,"wires":[]},{"id":"b3ad844ad7876a87","type":"s7 out","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","variable":"STOP","name":"","x":830,"y":80,"wires":[]},{"id":"75b1065509224aba","type":"ui_text","z":"6a0012c00718aef0","group":"416ba4b3dc0d914c","order":1,"width":3,"height":1,"name":"","label":"báo cháy đèn","format":"{{msg.payload}}","layout":"col-center","className":"","x":1480,"y":240,"wires":[]},{"id":"228d09c972ebddb8","type":"ui_text","z":"6a0012c00718aef0","group":"416ba4b3dc0d914c","order":8,"width":3,"height":1,"name":"","label":"đèn đang sáng cùng lúc","format":"{{msg.payload}}","layout":"col-center","className":"","x":1550,"y":500,"wires":[]},{"id":"5f69e687712e4bf3","type":"ui_text","z":"6a0012c00718aef0","group":"416ba4b3dc0d914c","order":11,"width":3,"height":1,"name":"","label":"tủ đang mở","format":"{{msg.payload}}","layout":"col-center","className":"","x":1470,"y":740,"wires":[]},{"id":"73dcecd1a1eceb6b","type":"ui_led","z":"6a0012c00718aef0","order":2,"group":"416ba4b3dc0d914c","width":2,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1450,"y":300,"wires":[]},{"id":"67b031625274f165","type":"ui_led","z":"6a0012c00718aef0","order":9,"group":"416ba4b3dc0d914c","width":2,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1490,"y":560,"wires":[]},{"id":"e550629679dbb501","type":"ui_led","z":"6a0012c00718aef0","order":12,"group":"416ba4b3dc0d914c","width":2,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1450,"y":800,"wires":[]},{"id":"42f1c9d18de25597","type":"comment","z":"6a0012c00718aef0","name":"Khởi động","info":"hello","x":140,"y":20,"wires":[]},{"id":"4e3c697d8e893035","type":"comment","z":"6a0012c00718aef0","name":"làn xe","info":"","x":130,"y":140,"wires":[]},{"id":"56a35b54aecf9e52","type":"comment","z":"6a0012c00718aef0","name":"thiết lập thời gian chế độ ngủ","info":"","x":160,"y":520,"wires":[]},{"id":"40e7e7580835c74c","type":"comment","z":"6a0012c00718aef0","name":"thiết lập thời gian chế độ đêm khuya","info":"","x":160,"y":760,"wires":[]},{"id":"afcc9ac7ab86a082","type":"comment","z":"6a0012c00718aef0","name":"thiết lập thời gian chế độ bình thường","info":"","x":190,"y":1040,"wires":[]},{"id":"258bd14e49eba81f","type":"comment","z":"6a0012c00718aef0","name":"thông báo","info":"","x":1080,"y":140,"wires":[]},{"id":"235c3c9e593fd6f6","type":"comment","z":"6a0012c00718aef0","name":"chế độ đèn","info":"","x":1120,"y":1140,"wires":[]},{"id":"589febf0ca139549","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"CHE DO BINH THUONG","diff":true,"name":"","x":1170,"y":1200,"wires":[["06d63f83e47353f7","77c8e6b053513879","eb778dda82843e1a"]]},{"id":"06d63f83e47353f7","type":"ui_text","z":"6a0012c00718aef0","group":"c3dc9d381b181230","order":1,"width":3,"height":1,"name":"","label":"chế độ bình thường","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1470,"y":1200,"wires":[]},{"id":"77c8e6b053513879","type":"ui_led","z":"6a0012c00718aef0","order":2,"group":"c3dc9d381b181230","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1430,"y":1260,"wires":[]},{"id":"083bf3467e2699d6","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"CHE DO DEM KHUYA","diff":true,"name":"","x":1160,"y":1420,"wires":[["35ac638f5d29fa0e","0df8d2eb4943ca95","36ad6bddcea052a9"]]},{"id":"35ac638f5d29fa0e","type":"ui_text","z":"6a0012c00718aef0","group":"c3dc9d381b181230","order":4,"width":3,"height":1,"name":"","label":"chế độ đêm","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1450,"y":1420,"wires":[]},{"id":"0df8d2eb4943ca95","type":"ui_led","z":"6a0012c00718aef0","order":5,"group":"c3dc9d381b181230","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1430,"y":1480,"wires":[]},{"id":"a9fe8c735dfa0807","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"CHE DO NGU","diff":true,"name":"","x":1130,"y":1640,"wires":[["393f348bc04da8d4","d7e78c05a6e23a2c","f6feabcb8ca6de91"]]},{"id":"393f348bc04da8d4","type":"ui_text","z":"6a0012c00718aef0","group":"c3dc9d381b181230","order":7,"width":3,"height":1,"name":"","label":"chế độ ngủ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1450,"y":1640,"wires":[]},{"id":"d7e78c05a6e23a2c","type":"ui_led","z":"6a0012c00718aef0","order":8,"group":"c3dc9d381b181230","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1430,"y":1700,"wires":[]},{"id":"2388acb2f1772b19","type":"ui_text","z":"6a0012c00718aef0","group":"f29007235263a075","order":2,"width":4,"height":1,"name":"","label":"THỰC TẾ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":240,"y":820,"wires":[]},{"id":"0750a54e57bb04b8","type":"ui_text","z":"6a0012c00718aef0","group":"99c8e8996524d5b3","order":5,"width":4,"height":1,"name":"","label":"CÀI ĐẶT","format":"{{msg.payload}}","layout":"row-spread","className":"","x":720,"y":560,"wires":[]},{"id":"eb778dda82843e1a","type":"ui_toast","z":"6a0012c00718aef0","position":"top right","displayTime":"3","highlight":"yellow","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"đèn đã ở chế độ thường","x":1490,"y":1300,"wires":[]},{"id":"36ad6bddcea052a9","type":"ui_toast","z":"6a0012c00718aef0","position":"top right","displayTime":"3","highlight":"yellow","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"đèn đã ở chế độ đêm","x":1478,"y":1541,"wires":[]},{"id":"f6feabcb8ca6de91","type":"ui_toast","z":"6a0012c00718aef0","position":"top right","displayTime":"3","highlight":"yellow","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"đèn đã ở chế độ ngủ","x":1480,"y":1760,"wires":[]},{"id":"2224c5fe3eb1981f","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"HIEN THI TIME DEN XANH 1","diff":false,"name":"","x":200,"y":1400,"wires":[["864c2abdad9c3924"]]},{"id":"fe84e593d7c1f7fc","type":"s7 out","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","variable":"CAI DAT TIME DEN XANH1","name":"","x":820,"y":1400,"wires":[]},{"id":"6bd18cc1d73de9b1","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"HIEN THI TIME DEN VANG1","diff":true,"name":"","x":200,"y":1540,"wires":[["10330473c95c957b"]]},{"id":"974da35b5cf094f1","type":"s7 out","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","variable":"CAI DAT TIME DEN VANG1","name":"","x":820,"y":1540,"wires":[]},{"id":"fee71f8a1ec63904","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"HIEN THI TIME DEN XANH2","diff":true,"name":"","x":200,"y":1680,"wires":[["dd18b7493a9f4fef"]]},{"id":"79c7b9f83f448b17","type":"s7 out","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","variable":"CAI DAT TIME DEN XANH2","name":"","x":820,"y":1680,"wires":[]},{"id":"f53ea827139b9fc0","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"HIEN THI TIME DEN VANG2","diff":true,"name":"","x":200,"y":1820,"wires":[["3d716f766d21c18e"]]},{"id":"95b9a36874d8f4e9","type":"s7 out","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","variable":"CAI DAT TIME DEN VANG2","name":"","x":820,"y":1820,"wires":[]},{"id":"e6884a1dfe04fe7f","type":"comment","z":"6a0012c00718aef0","name":"thiet lap chu ki den","info":"","x":190,"y":1320,"wires":[]},{"id":"f79bf5f7125584ce","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":1,"width":3,"height":1,"name":"","label":"XANH1 CÀI ĐẶT","format":"{{msg.payload}}","layout":"row-left","className":"","x":670,"y":1360,"wires":[]},{"id":"1ce6e688b9c6f6f8","type":"comment","z":"6a0012c00718aef0","name":"doc du lieu va dua len database","info":"","x":190,"y":2000,"wires":[]},{"id":"71dc84f36ddd9cf7","type":"e-mail","z":"6a0012c00718aef0","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"truongcongtinh1708@gmail.com","dname":"","x":1530,"y":180,"wires":[]},{"id":"f7640b264d217782","type":"ui_led","z":"6a0012c00718aef0","order":3,"group":"b069be749ce2177e","width":2,"height":2,"label":"do1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"do1","x":330,"y":320,"wires":[]},{"id":"3cef49bd6d77243b","type":"ui_led","z":"6a0012c00718aef0","order":6,"group":"b069be749ce2177e","width":2,"height":2,"label":"dobo1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"dobo1","x":330,"y":440,"wires":[]},{"id":"64bc542419ae6905","type":"ui_switch","z":"6a0012c00718aef0","name":"","label":"START","tooltip":"","group":"0530538291c06cf1","order":1,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":200,"y":80,"wires":[["f03e06bf11066c5d"]]},{"id":"695b2774e992540b","type":"ui_switch","z":"6a0012c00718aef0","name":"","label":"STOP","tooltip":"","group":"0530538291c06cf1","order":2,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":610,"y":80,"wires":[["b3ad844ad7876a87"]]},{"id":"9d69f6d663636ee0","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"CANH BAO TRUNG THOI GIAN","diff":true,"name":"","x":1210,"y":980,"wires":[["804cc92c299aad87","b5e185fa3c71f642","700134582ebdb88f"]]},{"id":"804cc92c299aad87","type":"ui_text","z":"6a0012c00718aef0","group":"416ba4b3dc0d914c","order":4,"width":3,"height":1,"name":"","label":"nhap trung thoi gian","format":"{{msg.payload}}","layout":"col-center","className":"","x":1500,"y":980,"wires":[]},{"id":"b5e185fa3c71f642","type":"ui_led","z":"6a0012c00718aef0","order":5,"group":"416ba4b3dc0d914c","width":2,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1450,"y":1040,"wires":[]},{"id":"e25fec759dfdac7c","type":"ui_text","z":"6a0012c00718aef0","group":"b878efe8e64615ab","order":2,"width":4,"height":1,"name":"","label":"THỰC TẾ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":240,"y":1100,"wires":[]},{"id":"fd9090c9ef13f2ca","type":"ui_led","z":"6a0012c00718aef0","order":1,"group":"b069be749ce2177e","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#000000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"xanh1","x":330,"y":200,"wires":[]},{"id":"87acae81db9b2daa","type":"ui_text","z":"6a0012c00718aef0","group":"99c8e8996524d5b3","order":3,"width":2,"height":1,"name":"","label":"GIO","format":"{{msg.payload}}","layout":"row-spread","className":"","x":390,"y":620,"wires":[]},{"id":"1f0a95c089162997","type":"ui_text","z":"6a0012c00718aef0","group":"99c8e8996524d5b3","order":4,"width":2,"height":1,"name":"","label":"PHUT","format":"{{msg.payload}}","layout":"row-spread","className":"","x":390,"y":680,"wires":[]},{"id":"38112d53b85fe86c","type":"e-mail","z":"6a0012c00718aef0","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"truongcongtinh1708@gmail.com","dname":"","x":1570,"y":440,"wires":[]},{"id":"d49078870831029a","type":"e-mail","z":"6a0012c00718aef0","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"truongcongtinh1708@gmail.com","dname":"","x":1530,"y":680,"wires":[]},{"id":"700134582ebdb88f","type":"e-mail","z":"6a0012c00718aef0","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"truongcongtinh1708@gmail.com","dname":"","x":1530,"y":940,"wires":[]},{"id":"af199f5ba1b960df","type":"ui_text","z":"6a0012c00718aef0","group":"99c8e8996524d5b3","order":2,"width":4,"height":1,"name":"","label":"THỰC TẾ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":240,"y":560,"wires":[]},{"id":"7f0154c640adf0e7","type":"ui_text","z":"6a0012c00718aef0","group":"f29007235263a075","order":5,"width":4,"height":1,"name":"","label":"CÀI ĐẶT","format":"{{msg.payload}}","layout":"row-spread","className":"","x":720,"y":820,"wires":[]},{"id":"8961bfc144206b28","type":"ui_text","z":"6a0012c00718aef0","group":"f29007235263a075","order":3,"width":2,"height":1,"name":"","label":"GIO","format":"{{msg.payload}}","layout":"row-spread","className":"","x":390,"y":880,"wires":[]},{"id":"5b62445ce1cab95c","type":"ui_text","z":"6a0012c00718aef0","group":"f29007235263a075","order":4,"width":2,"height":1,"name":"","label":"PHUT","format":"{{msg.payload}}","layout":"row-spread","className":"","x":390,"y":940,"wires":[]},{"id":"5cef96c9946e6c8e","type":"ui_text","z":"6a0012c00718aef0","group":"b878efe8e64615ab","order":5,"width":4,"height":1,"name":"","label":"CÀI ĐẶT","format":"{{msg.payload}}","layout":"row-spread","className":"","x":720,"y":1100,"wires":[]},{"id":"6407c03321da9ca4","type":"ui_text","z":"6a0012c00718aef0","group":"b878efe8e64615ab","order":3,"width":2,"height":1,"name":"","label":"GIO","format":"{{msg.payload}}","layout":"row-spread","className":"","x":390,"y":1160,"wires":[]},{"id":"c04e5f1da062b0cc","type":"ui_text","z":"6a0012c00718aef0","group":"b878efe8e64615ab","order":4,"width":2,"height":1,"name":"","label":"PHUT","format":"{{msg.payload}}","layout":"row-spread","className":"","x":390,"y":1220,"wires":[]},{"id":"864c2abdad9c3924","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":4,"width":2,"height":1,"name":"","label":"giây","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":1400,"wires":[]},{"id":"10330473c95c957b","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":8,"width":2,"height":1,"name":"","label":"giây","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":1540,"wires":[]},{"id":"dd18b7493a9f4fef","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":12,"width":2,"height":1,"name":"","label":"giây","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":1680,"wires":[]},{"id":"3d716f766d21c18e","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":16,"width":2,"height":1,"name":"","label":"giây","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":1820,"wires":[]},{"id":"45f8181dd61fefda","type":"s7 in","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","mode":"single","variable":"HIEN THI TIME NHAY VANG","diff":true,"name":"","x":200,"y":1940,"wires":[["9fe39d102706620f"]]},{"id":"5dc3987a64de1f39","type":"s7 out","z":"6a0012c00718aef0","endpoint":"5bfe7da3ed5a06b6","variable":"CAI DAT TIME NHAY VANG","name":"","x":820,"y":1940,"wires":[]},{"id":"b553346ff94b75cd","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":17,"width":3,"height":1,"name":"","label":"NHÁY VÀNG CÀI ĐẶT","format":"{{msg.payload}}","layout":"row-left","className":"","x":680,"y":1900,"wires":[]},{"id":"9fe39d102706620f","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":20,"width":2,"height":1,"name":"","label":"giây","format":"{{msg.payload}}","layout":"row-spread","className":"","x":430,"y":1940,"wires":[]},{"id":"986da586de460924","type":"ui_slider","z":"6a0012c00718aef0","name":"","label":"giây","tooltip":"","group":"a5c821c2e4964835","order":6,"width":3,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"20","step":1,"className":"","x":590,"y":1540,"wires":[["974da35b5cf094f1"]]},{"id":"457f184e397c2a2e","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":3,"width":3,"height":1,"name":"","label":"XANH1 THỰC TẾ","format":"{{msg.payload}}","layout":"row-left","className":"","x":330,"y":1360,"wires":[]},{"id":"9ef1319ab25655cc","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":5,"width":3,"height":1,"name":"","label":"VÀNG1 CÀI ĐẶT","format":"{{msg.payload}}","layout":"row-left","className":"","x":670,"y":1500,"wires":[]},{"id":"34487cd212bc0caa","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":7,"width":3,"height":1,"name":"","label":"VÀNG1 THỰC TẾ","format":"{{msg.payload}}","layout":"row-left","className":"","x":330,"y":1500,"wires":[]},{"id":"cc43a9ecbe6fffe2","type":"ui_slider","z":"6a0012c00718aef0","name":"","label":"giây","tooltip":"","group":"a5c821c2e4964835","order":2,"width":3,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"20","step":1,"className":"","x":590,"y":1400,"wires":[["fe84e593d7c1f7fc"]]},{"id":"1e0a6d9310ce0515","type":"ui_slider","z":"6a0012c00718aef0","name":"","label":"giây","tooltip":"","group":"a5c821c2e4964835","order":10,"width":3,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"20","step":1,"className":"","x":590,"y":1680,"wires":[["79c7b9f83f448b17"]]},{"id":"8580f6e37edf2970","type":"ui_slider","z":"6a0012c00718aef0","name":"","label":"giây","tooltip":"","group":"a5c821c2e4964835","order":14,"width":3,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"20","step":1,"className":"","x":590,"y":1820,"wires":[["95b9a36874d8f4e9"]]},{"id":"a7edc898a617f312","type":"ui_slider","z":"6a0012c00718aef0","name":"","label":"giây","tooltip":"","group":"a5c821c2e4964835","order":18,"width":3,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"20","step":1,"className":"","x":590,"y":1940,"wires":[["5dc3987a64de1f39"]]},{"id":"44484899c1550d80","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":9,"width":3,"height":1,"name":"","label":"XANH2 CÀI ĐẶT","format":"{{msg.payload}}","layout":"row-left","className":"","x":670,"y":1640,"wires":[]},{"id":"c0ecc276152495cc","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":11,"width":3,"height":1,"name":"","label":"XANH2 THỰC TẾ","format":"{{msg.payload}}","layout":"row-left","className":"","x":330,"y":1640,"wires":[]},{"id":"fd335bb0cd37960a","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":13,"width":3,"height":1,"name":"","label":"VÀNG2 CÀI ĐẶT","format":"{{msg.payload}}","layout":"row-left","className":"","x":670,"y":1780,"wires":[]},{"id":"5210bb9aea51a796","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":15,"width":3,"height":1,"name":"","label":"VÀNG2 THỰC TẾ","format":"{{msg.payload}}","layout":"row-left","className":"","x":330,"y":1780,"wires":[]},{"id":"dc2067fb45b3e349","type":"ui_text","z":"6a0012c00718aef0","group":"a5c821c2e4964835","order":19,"width":3,"height":1,"name":"","label":"NHÁY VÀNG THỰC TẾ","format":"{{msg.payload}}","layout":"row-left","className":"","x":350,"y":1900,"wires":[]},{"id":"9e97095429368771","type":"ui_slider","z":"6a0012c00718aef0","name":"","label":"GIO","tooltip":"","group":"99c8e8996524d5b3","order":6,"width":2,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"23","step":1,"className":"","x":589,"y":621,"wires":[["8a2a05802ca9ca68"]]},{"id":"0648b26753a9640f","type":"ui_slider","z":"6a0012c00718aef0","name":"","label":"PHUT","tooltip":"","group":"99c8e8996524d5b3","order":7,"width":2,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"59","step":1,"className":"","x":589,"y":680,"wires":[["2594b12a20ad4701"]]},{"id":"71b648ac21518568","type":"ui_slider","z":"6a0012c00718aef0","name":"","label":"GIO","tooltip":"","group":"f29007235263a075","order":6,"width":2,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"23","step":1,"className":"","x":590,"y":880,"wires":[["f4ea76294fdd2132"]]},{"id":"4bb060494c26c98e","type":"ui_slider","z":"6a0012c00718aef0","name":"","label":"PHUT","tooltip":"","group":"f29007235263a075","order":7,"width":2,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"59","step":1,"className":"","x":590,"y":940,"wires":[["5036b4c6db3ac9fb"]]},{"id":"ec8642b8a7d16792","type":"ui_slider","z":"6a0012c00718aef0","name":"","label":"PHUT","tooltip":"","group":"b878efe8e64615ab","order":7,"width":2,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"59","step":1,"className":"","x":590,"y":1220,"wires":[["f0e0a70bc2965d7f"]]},{"id":"3b2df569f6904d01","type":"ui_slider","z":"6a0012c00718aef0","name":"","label":" GIO","tooltip":"","group":"b878efe8e64615ab","order":6,"width":2,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"23","step":1,"className":"","x":590,"y":1160,"wires":[["3fb1babf778adc31"]]},{"id":"62dac90c6c23d694","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"cad57aa63bf65032","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"d8404e7dce2b0dbe","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"279370722b240ef7","order":4,"width":1,"height":1},{"id":"04794da9db4b2a51","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"279370722b240ef7","order":7,"width":1,"height":1},{"id":"5fb6a892ef77675d","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"279370722b240ef7","order":8,"width":1,"height":1},{"id":"22d9129bd52580e2","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"279370722b240ef7","order":9,"width":1,"height":1},{"id":"2249d0ebf32f6658","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"d7cbdba84a70cbec","order":4,"width":1,"height":1},{"id":"f771771a99199f91","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"d7cbdba84a70cbec","order":7,"width":1,"height":1},{"id":"66374c4699a5092e","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"d7cbdba84a70cbec","order":8,"width":1,"height":1},{"id":"461b90e389b7eaab","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"d7cbdba84a70cbec","order":9,"width":1,"height":1},{"id":"fdb5b9ebd196110f","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"0530538291c06cf1","order":3,"width":1,"height":1},{"id":"7f8f46992b123962","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"b069be749ce2177e","order":4,"width":1,"height":1},{"id":"4d6ba91eee3a4945","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"b069be749ce2177e","order":7,"width":1,"height":1},{"id":"a842daa418065350","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"b069be749ce2177e","order":8,"width":1,"height":1},{"id":"5b9b07d3b3eee18c","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"b069be749ce2177e","order":9,"width":1,"height":1},{"id":"97f1f72cb91ee0d6","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"367d85206951a8b6","order":4,"width":1,"height":1},{"id":"9e64599be92c6d9e","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"367d85206951a8b6","order":7,"width":1,"height":1},{"id":"4975def1db337798","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"367d85206951a8b6","order":8,"width":1,"height":1},{"id":"ae0648e3558955a0","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"367d85206951a8b6","order":9,"width":1,"height":1},{"id":"54f0b9b06d9bac22","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"416ba4b3dc0d914c","order":3,"width":1,"height":1},{"id":"58f6c70c42501c96","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"416ba4b3dc0d914c","order":6,"width":3,"height":1},{"id":"e10f0b4e0c6632c6","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"416ba4b3dc0d914c","order":7,"width":4,"height":1},{"id":"b038405ba93a1514","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"416ba4b3dc0d914c","order":10,"width":1,"height":1},{"id":"7a04df63ebe0570e","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"416ba4b3dc0d914c","order":13,"width":3,"height":1},{"id":"88a92655f39a2b13","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"416ba4b3dc0d914c","order":14,"width":4,"height":1},{"id":"41eb5e0d42c01f43","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"c3dc9d381b181230","order":3,"width":1,"height":1},{"id":"c8c53267159edd07","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"c3dc9d381b181230","order":6,"width":1,"height":1},{"id":"82d4ee8d68cdeb77","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"c3dc9d381b181230","order":9,"width":1,"height":1},{"id":"84f54bc36e76ab16","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"99c8e8996524d5b3","order":1,"width":4,"height":1},{"id":"f2bcdb8b7ca82038","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"b878efe8e64615ab","order":1,"width":4,"height":1},{"id":"2b36d907188ebac7","type":"ui_spacer","z":"6a0012c00718aef0","name":"spacer","group":"f29007235263a075","order":1,"width":4,"height":1},{"id":"5bfe7da3ed5a06b6","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.1.30","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"500","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"Q0.0","name":"XANH1"},{"addr":"Q0.1","name":"VANG1"},{"addr":"Q0.2","name":"DO1"},{"addr":"Q0.3","name":"XANHBO1"},{"addr":"Q0.4","name":"DOBO1"},{"addr":"Q0.5","name":"XANH2"},{"addr":"Q0.6","name":"VANG2"},{"addr":"Q0.7","name":"DO2"},{"addr":"Q1.0","name":"XANHBO2"},{"addr":"Q1.1","name":"DOBO2"},{"addr":"M10.1","name":"CHE DO NGU"},{"addr":"M10.2","name":"CHE DO DEM KHUYA"},{"addr":"M10.3","name":"CHE DO BINH THUONG"},{"addr":"M13.1","name":"CANH BAO DEN CHAY"},{"addr":"M13.2","name":"CANH BAO DEN SANG CUNG LUC"},{"addr":"M13.3","name":"CANH BAO SAI CHE DO"},{"addr":"M13.4","name":"CANH BAO TRUNG THOI GIAN"},{"addr":"M13.5","name":"START"},{"addr":"M13.6","name":"STOP"},{"addr":"M13.0","name":"CANH BAO MO TU"},{"addr":"MD62","name":"HIEN THI TIME NGU_GIO"},{"addr":"MD66","name":"HIEN THI TIME NGU_PHUT"},{"addr":"MD70","name":"HIEN THI TIME DK_GIO"},{"addr":"MD74","name":"HIEN THI TIME DK_PHUT"},{"addr":"MD78","name":"HIEN THI TIME BTH_GIO"},{"addr":"MD82","name":"HIEN THI TIME BTH_PHUT"},{"addr":"MD102","name":"CAI DAT TIME NGU_GIO"},{"addr":"MD106","name":"CAI DAT TIME NGU_PHUT"},{"addr":"MD110","name":"CAI DAT TIME DK_GIO"},{"addr":"MD114","name":"CAI DAT TIME DK_PHUT"},{"addr":"MD118","name":"CAI DAT TIME BTH_GIO"},{"addr":"MD122","name":"CAI DAT TIME BTH_PHUT"},{"addr":"MD126","name":"CAI DAT TIME DEN XANH1"},{"addr":"MD130","name":"CAI DAT TIME DEN VANG1"},{"addr":"MD134","name":"CAI DAT TIME DEN XANH2"},{"addr":"MD138","name":"CAI DAT TIME DEN VANG2"},{"addr":"MD142","name":"CAI DAT TIME NHAY VANG"},{"addr":"MD86","name":"HIEN THI TIME DEN XANH 1"},{"addr":"MD90","name":"HIEN THI TIME DEN VANG1"},{"addr":"MD94","name":"HIEN THI TIME DEN XANH2"},{"addr":"MD98","name":"HIEN THI TIME DEN VANG2"},{"addr":"MD54","name":"HIEN THI TIME NHAY VANG"}]},{"id":"b069be749ce2177e","type":"ui_group","name":"LÀN XE 1","tab":"e7d3363da06f986b","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"367d85206951a8b6","type":"ui_group","name":"LÀN XE 2","tab":"e7d3363da06f986b","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"416ba4b3dc0d914c","type":"ui_group","name":"CẢNH BÁO","tab":"e7d3363da06f986b","order":4,"disp":true,"width":11,"collapse":false,"className":""},{"id":"c3dc9d381b181230","type":"ui_group","name":"CHẾ ĐỘ ĐÈN","tab":"e7d3363da06f986b","order":5,"disp":true,"width":5,"collapse":false,"className":""},{"id":"f29007235263a075","type":"ui_group","name":"TIME START CHẾ ĐỘ ĐÊM KHUYA","tab":"e7d3363da06f986b","order":8,"disp":true,"width":4,"collapse":true,"className":""},{"id":"99c8e8996524d5b3","type":"ui_group","name":"TIME START CHẾ ĐỘ NGỦ","tab":"e7d3363da06f986b","order":6,"disp":true,"width":4,"collapse":true,"className":""},{"id":"a5c821c2e4964835","type":"ui_group","name":"TIME CHU KÌ ĐÈN","tab":"e7d3363da06f986b","order":9,"disp":true,"width":11,"collapse":false,"className":""},{"id":"0530538291c06cf1","type":"ui_group","name":"KHỞI ĐỘNG","tab":"e7d3363da06f986b","order":1,"disp":true,"width":"5","collapse":false,"className":""},{"id":"b878efe8e64615ab","type":"ui_group","name":"TIME START CHẾ ĐỘ BÌNH THƯỜNG","tab":"e7d3363da06f986b","order":7,"disp":true,"width":4,"collapse":true,"className":""},{"id":"279370722b240ef7","type":"ui_group","name":"làn xe 1","tab":"","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d7cbdba84a70cbec","type":"ui_group","z":"6a0012c00718aef0","name":"làn xe 2","tab":"","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e7d3363da06f986b","type":"ui_tab","name":"HỆ THỐNG ĐÈN GIAO THÔNG 1","icon":"dashboard","disabled":false,"hidden":false}]